[submodule "vim/bundle/apoklinon"]
	path = vim/bundle/apoklinon
	url = Github:Libbum/vim-apoklinon.git
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = Github:airblade/vim-gitgutter
[submodule "includes/dir_colors"]
	path = includes/dir_colors
	url = Github:Libbum/dircolors-apoklinon.git
[submodule "vim/bundle/hasksyn"]
	path = vim/bundle/hasksyn
	url = Github:travitch/hasksyn.git
[submodule "vim/bundle/vim-pandoc"]
	path = vim/bundle/vim-pandoc
	url = Github:vim-pandoc/vim-pandoc.git
